body {
    margin: 0;
}

footer {
    height: 100px;
    width:100%;
    background-color: yellow;
    
}

button {
    background-color: orange;
    border-style: none;
    display: grid;
    height:100px;
    width: 100px;
    grid-template-columns:auto;
}